textarea {
    color: #49F477;
    background: #2c292d;
    margin-top: 20px;
    font-family: 'Kalam', cursive;
    font-size: 18px;
    border: 4px solid seashell;
}

form {
    margin: 20px;
}



.error {
    color: red;
    height: 18rem;
    width: 30rem;
}

.output {
    color: #49F477;
    height: 18rem;
    width: 30rem;
}

.text-editor, .result {
    float: left;
    display: inline;
    width: 50%;
    height: 100%;
    background: #2c292d;
}

h3 {
    color: seashell;
    margin-top: 10px;
}

